.card {
  width: 90%; /* Adjust width to a percentage for responsiveness */
  max-width: 600px; /* Ensure a max width for larger screens */
  height: auto;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.506);
  background-color: #1f1d6e;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  /* rgba(45,212,191,.1) */

  /* overflow: hidden;
  width: 350px;
  height: 235px;
  border-radius: 23px;
  padding: 4px;
  position: relative;
  transition: transform 0.4s ease;

  transform-origin: center;
  box-shadow: 0px 155px 62px #00000003, 0px 87px 52px rgba(0, 0, 0, 0.05),
    0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(153, 244, 228);
  cursor: pointer; */
}

.card-info {
  display: flex;
  flex-direction: column;
}

.title-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.duration {
  font-size: 13px;
  color: rgb(45, 212, 190);
  font-weight: bold;
}

.card-title {
  font-size: 20px;
  line-height: 1.2;
  color: rgb(153, 244, 228);
}

.experience-info p {
  font-size: 14px;
  color: #ddd;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.skill-bubble {
  background-color: rgba(45, 212, 191, 0.1);
  color: rgb(94 234 212);
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px 2%;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

/* Previous implementation */
/* !!!! */

.experience-image {
  width: 100%; /* Makes the image take full width of the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: rounds the corners of the image */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.experience-text {
  /* position: absolute;
  margin: 0;
  height: 140px;
  overflow-y: auto;
  padding-right: 35px;
  bottom: 10px; /* Adjust text position from the bottom */
  /* left: 50%;
  transform: translateX(-50%); /* Center the text horizontally */
  /* color: white; Make text color white */
  /* font-size: 18px; Adjust text size */
  /* font-weight: bold; Make the text bold */
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); Optional: add shadow for readability */
  /* z-index: 1; Make sure the text stays on top of the image */
}

/* 
.light-effect {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(64, 224, 208, 0.6),
    rgba(64, 224, 208, 0.6),
    rgba(64, 224, 208, 0.6),
    transparent
  );

  background-size: 150%;

  animation: glowing-border 5000ms infinite linear;
  z-index: -1;
} */

/* .experience-info {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 23px;
  font-size: 14px;
  background-color: rgb(90, 253, 223);
} */

.front {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  /* transform: translateY(-9px); */
  transform: scale(1.03);
  /* background-color: #2a2b7e; */
  /* background-color: #1f1d6e; */
}

/* Keyframe for the glowing effect animation */
@keyframes glowing-border {
  0% {
    background-position: 200% 200%; /* Start with the gradient off-screen */
  }
  50% {
    background-position: -200% -200%; /* Move the gradient to the opposite corner */
  }
  100% {
    background-position: 200% 200%; /* Move it back to the starting position */
  }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Make cards take full width */
    margin-bottom: 20px; /* Add spacing between cards */
  }

  .experience-info {
    font-size: 12px; /* Smaller text for mobile */
  }
  .skills {
    gap: 5px; /* Reduce gap for skill bubbles on mobile */
  }

  .skill-bubble {
    font-size: 0.7rem; /* Adjust font size for smaller screens */
    padding: 4px 2%; /* Ensure proper padding */
  }
}
